@use 'colors' as *;

@media (min-width: 772px) {
	.section {
		scroll-margin-top: 83px;
	}

	.nav {
		&__header {
			margin: 2rem;

			.nav__logo {
				width: 40%;
			}

			.nav__menu-burger {
				display: none;
			}
		}

		&__menu {
			display: flex;

			.active::after,
			.active::before {
				transform: scaleX(0.5);
			}

			.active::after {
				transform-origin: left;
			}

			.active::before {
				transform-origin: right;
			}
		}
	}

	.nav__scroll {
		.nav__header {
			margin: 1rem;
		}
	}

	.header {
		&__text {
			top: 30%;
			transform: translateY(-100%);
			padding-bottom: 1rem;
		}

		h1 {
			font-size: 6rem;
		}

		p {
			margin-top: -2rem;
			font-size: 4rem;
		}
	}

	.road {
		&__wrapper {
			background-image: url('../img/roadM.png');
		}
	}

	.tariffs {
		&__offer {
			font-size: 2rem;
		}
	}

	.contact {
		&__informations {
			a {
				font-size: 3em;
			}

			p {
				font-size: 3.6rem;
			}
		}
	}
}
